
#table-size{
    background-color: rgba(0,0,0,.15);
    height: 100vh;
    position: fixed;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    // position: relative;
    .table-size-wrap{
        width: 772px;
        height: 444px;
        left: 27%;
        top: 27%;
        position: fixed;
        background-color: #fff;
        overflow-x:hidden;
        overflow-y:scroll;
        
      .close{
        position: fixed;
        background-color: #fff;
        width: 772px;
        i{
            margin-right: 50px;
            margin-left: 704px;
            margin-top: 22px;
            font-size: 20px;
        
        }
      }
        
        img{
            width: 681px;
            height: 684px;
            margin-left: 40px;
            margin-top: 50px;
            // position: absolute;
        }
    }
    
    
}
#table-size.show-table{
    opacity: 1;
    pointer-events:all;
}
.content-details{
    width: 100%;
    background-color: #eff0f5;
    height: auto;
    padding-bottom: 20px;
    padding-top: 40px;

    .cover-detail{
        background-color: #fff;
        width: 1243px;
        height: auto;
        margin-left: 15%;
        padding: 10px;
        .img-detail{
            display: flex;
            gap: 30px;
            .left-detail{
                img{
                    width: 330px;
                    height: 330px;
                }
                .img-mini{
                    margin-left: 23px;
                    height: 55px;
                    gap: 5px;
                    display: flex;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    width: 285px;
                    scroll-behavior: smooth;
                    img{
                        width: 50px;
                        height: 50px;
                        margin-top: 5px;
                    }
                    .active{
                        border: 2px solid #f5762b;
                    }
                }
    
                .iconimg{
                    position: relative;
                    .pre-icon{
                        position: absolute;
                        top: -33px;
                    }
                    .next-icon{
                        position: absolute;
                        top: -36px;
                        left: 310px;
                    }
                }
            }
            

            .center-detail{
                width: 500px;
                
                img{
                    
                    width: 58px;
                    height: 16px;
                }
                p{
                    margin-top: 10px;
                    color: #212121;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 30px;
                }
                .star{
                    display: flex;
                    justify-content: space-between;
                    span{
                        padding-left: 10px;
                        color: #16849b;
                        font-size: 12px;
                    }
                   img{
                    height: 27px;
                   }
                }
                .origin{
                    display: flex;
                    gap:10px;
                    align-items: center;
                    border-bottom: 1px solid #eff0f5;
                    p{
                        font-size: 12px;
                        color: #9e9e9e;
                        padding-top: 5px;
                    }
                    span{
                        font-size: 12px;
                        color: #16849b;
                    }
                }
                .style-color{
                   
                    
                    span{
                        color: #f57224;
                        font-size:25px;
                        font-weight: 500;
                    }
                    .style{
                        display: flex;
                        align-items: center;
                        // margin-top: -26px;
                        gap: 5px;
                        #sale-price{
                            font-size: 14px;
                            text-decoration: line-through;
                            color: #9e9e9e;
                            margin-top: -4px;
                            span{
                                color: #9e9e9e;
                            }
                            
                        }
                        .space{
                            margin-left: 4px;
                            margin-right:-5px ;
                        }
                        .space-after{
                          
                            margin-left:-5px ;
                            margin-top: -2px;
                        }
                        span{
                            font-size: 14px;
                             color: #212121;
                            //  margin-right: -6px;
                        }
                        p{
                            font-size: 14px;
                            margin-bottom: 13px;
                        }
                    }
                    
                }
                .voucher{
                    display: flex;
                    gap: 43px;
                    border-bottom: 1px solid #eff0f5;
                    padding-bottom: 20px;
                    p{
                        height: 24px;
                        line-height: 24px;
                        color: #757575;
                        font-size: 14px;
                        font-weight: 500;
                        margin-top: 0px;
                    }
                    img{
                        width: 387px;
                        height: auto;
                    }
                }
                .color{
                    .colr-text{
                        p{
                            color: #212121;
                        }
                        .img-color{
                            .active{
                                border: 2px solid #f5762b;
                            }
                            img{
                                width: 36px;
                                height: 36px;
                            }
                        }
                    }
                }
                .size{
                    .size-value{
                        display: flex;
                        justify-content: space-between;
                        p{
                            color: #212121; 
                        }
                        span:hover{
                            cursor: pointer;
                        }
                    }
                    
                    .box-size{
                        display: flex;
                        gap: 10px;
                        .box-key{
                            min-width: 48px;
                            min-height: 32px;
                            border: 1px solid #dadada;
                            border-radius: 2px;
                            p{
                                font-size: 12px;
                                color: #212121;
                                padding-left: 15px;
                                padding-top: 10px;
                                padding-right: 15px;
                                
                            }
                            
                        }
                        .active-key{
                            border-radius: 2px;
                           
                            border: 2px solid #f5762b;
                        }
                    }
                    span{
                        color: #1a9cb7;
                        font-size: 14px;
                    }
                    
                }
                .number-products{
                    gap: 15px;
                    .minus{
                        width: 32px;
                        height: 32px;
                        background-color: #eff0f5;
                        text-align: center;
                        border: none;
                        i{
                            padding-top: 3px;
                        }
                       
                    }
                    p{
                        padding-top: 3px;
                    }
                    // .minus:hover{
                    //     cursor: pointer;
                    //     transition: all .2s;
                    //     background-color: #dadada;
                    // }
                    
                        
                    
                    
                }
                .goto{
                    .buy{
                        width: 225px;
                        height:40px;
                        background-color: #ffb916;
                        border: 1px solid #ffb916;
                        border-radius: 2px;
                        p{
                            color: #fff;
                            font-size: 16px;
                            text-align: center;
                            margin-top: 4px;
                        }
                    }
                    .buy:hover{
                        border-color: #e59b11;
                        background: #e59b11;
                        cursor: pointer;
                        transition: all .3s ease-out;
                    }
                    .add{
                        border: 1px solid #f57224;
                        background: #f57224;
                    }
                    .add:hover{
                        background: #d0611e;
                        border: 1px solid #d0611e;
                    }
                }
            }

            .right-detail{
                background-color: #fafafa;
                padding-left: 10px;
                p{
                    font-size: 12px;
                    line-height: 12px;
                    color: #757575;
                    font-weight: 500;
                    padding-top: 10px;
                }
                .location{
                    display: flex;
                    gap: 20px;
                    i{
                        padding-top: 12px;
                    }
                   #hcm{
                    width: 200px;
                    font-size: 14px;
                   }
                   p{
                    color: #1a9cb7;
                    font-size: 13px;
                   }
                }
                .delevery{
                    padding-top: 20px;
                    display: flex;
                    i{
                        padding-top: 15px;
                    }
                    .gh{
                            padding-left: 20px;
                        p{
                            width: 200px;
                            font-size: 14px;
                            margin-bottom: 0;
                        }
                        span{
                            color: #9e9e9e;
                             font-size: 12px;
                           
                            
                        }
                    }
                    span{
                        color: #212121;
                        font-size: 14px;
                        font-weight: 500;
                    }
                    
                }
                .money{
                    padding-top: 20px;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    p{
                        line-height: 16px;

                        font-size: 14px;
                        color: #212121;
                        width: 200px;
                    }
                }
                img{
                    width: 350px;
                    height: auto;
                }
            }
        }
    }
}
.more-detail{
    width: 100vw;
    height: auto;
    background-color: #eff0f5;
    padding-top: 20px;
  


.left-more{
    width: 1242px;

    margin-left: 15%;
    width: 990px;
    height: auto;
    background-color: #fafafa;
    padding: 20px;
    p{
        color: #212121;
        font-size: 16px;
        font-weight: 500;
    }
    img{
        width: 935px;
    }
    .proper{
        display: flex;
        gap: 400px;
        .proper-left{
            .demo{
                padding-bottom: 10px;
                p{
                    font-size: 14px;
                    color: #757575;
                    margin-bottom: 0;
                }
                span{
       
                    font-size: 14px;
                }
            }
        }
    }
    
    
}
}
.more-detail{
    .rating{
        width: 1242px;
    
        margin-left: 15%;
        width: 990px;
        height: auto;
        background-color: #fafafa;
        padding: 20px;
        p{
            color: #212121;
            font-size: 16px;
            font-weight: 500;
        }
    }
}
